body {
    background-image: linear-gradient(to bottom right, rgb(163, 213, 236), rgb(155, 190, 101));
    /*margin top closes the gap between border and the artist name*/
    margin-top: 0px;
}


/*h1 element, artist  name
  h1 element covers the navbar
*/

h1 {
  color: rgb(30, 46, 97);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: rgb(30, 46, 97);
  font-family: Arial, Helvetica, sans-serif;
}

div {
 margin: 12px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.artistname {
    text-align: center;
    margin: auto 0;
    color: rgb(30, 46, 97);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: flex;
    background-color: rgb(30, 46, 97);
    color: white;
    text-shadow: 1px 1px 12px white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
    font-weight: bold;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(155, 190, 101);
    color: white;
  }

  /* Add an active class to highlight the current page */
  .active {
    background-color: white;
    color: black;
  }

.maindiv {
    text-align: center;
    color: rgb(30, 46, 97);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#jeffpic {
    /*resizing the picture*/
    width: 70%;
}

#dpics {
  width: 70%;
}

.bullets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

footer {         
  text-align: center;     
  position: relative;     
  color: white;  
  text-shadow: 1px 1px 10px white;   
  font-size: 17px;
}


/* Ellie's */

.button {
  background-color: rgb(30, 46, 97);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.collabPics img {
  position: relative;
  float: left;
  width:  80%;
  height: auto;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover; 
  
}
.published {
  display: flex;
  align-content: space-between;
}
.flexcontainer {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.flexcontainer div,
.published div {
  margin: .5rem;
  width: auto;
  height: auto;
  display: 0 0 25%;
}
.published img {
  position: relative;
  float: left;
  width:  100%;
  height: auto;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover; 
}
.awards {
  padding-bottom: .1rem; 
}

.tulips{
  width: 80%;
  height: auto;
}
